@charset "UTF-8";


.inputdiv
{
	
	border: 1px solid black;
	width: 500px;
	text-align: center;
	margin:  0 auto;
	padding: 20px 0px;
}
.inputdiv .it1
{
	margin: 15px 0px;
}
.viewList
{
	margin: 0 auto;
	margin-top: 50px;
	border-collapse: collapse;
}
.viewList th
{
	width: 150px;
	height: 30px;
	background-color: gray;
	border: 1px solid black;
	color: white; 
	font-weight: 1000;
	
}
.viewList td
{
	background-color : black;
	color: black;
	padding: 10px 20px;
	text-align: center;
	color: white; 
	font-weight: 1000;
}
.viewList td button
{
	width: 80px;
	height:30px;
	border-radius: 40px;
	border:none;
	background-color: white;
	
}
.viewList td button:hover
{
	background-color: red;
	
}
.total
{
	text-align: center;
	font-weight: 40px;
}