@charset "UTF-8";

.inputdiv
{
	
	border: 1px solid black;
	width: 500px;
	text-align: center;
	margin:  0 auto;
	padding: 20px 0px;
}
.inputdiv .it1
{
	margin: 15px 0px;
}
.viewList
{
	margin: 0 auto;
	margin-top: 50px;
	border-collapse: collapse;
}
.viewList td
{
	background-color: black;
	color: white;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 20px;
}
.total
{
	text-align: center;
	font-weight: 40px;
}