@charset "UTF-8";
*{padding: 0px; margin: 0px;}
.b_Main_Content
{
	width: 1200px;
	display: flex;
	justify-content: center;
	margin: 0 auto; 
	margin-bottom: 50px;
}
.b_Content_Left
{
	width: 550px;
	height: 500px;
	background-color: yellow;   /* 색 조정 */
	text-align: center;
	margin-right: 30px; 
}
.b_Content_Left h5 , .b_Select_Month
{
	margin: 10px 0px;
}
.b_Content_Left h5 
{
	margin-top: 30px;
}
.b_Calendar 
{
	border: none;
	margin: 0 auto;
	border-collapse: collapse;
	table-layout: fixed;
}
.b_Calendar th , .b_Calendar td
{
	background-color: white;
	border: 3px solid black;
}
.b_Calendar th{width: 60px;}
.b_Calendar td
{
	width: 60px;
	height: 60px;
	vertical-align: top;
    text-align: left;
    padding-left: 3px;
    padding-top: 3px;
	
}
.b_Top_Week
{
	height: 20px;
}

.b_Day_Off
{
	color: red;
}

.b_Footer
{
	
	height: 130px;
	background-color: #292C32;
	align-items: center;
	padding-top: 15px;
}
.b_Footer_Content
{
	width: 600px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;

}
.b_Footer_Item
{
	
	height : 100px;
	color: white;
	padding-top: 20px;
	/*background-color: white;*/
	
}

.b_Item1
{
	width: 200px;
}
.b_Item1 h4
{
	font-size: 8px;
	margin-bottom: 13px;
}
.b_Item1 h3
{
	font-size: 17px;
}

.b_Item2
{
	width: 350px;
}

.b_Item2 .b_Item2_text1
{
	font-size: 5px;
	margin-bottom: 13px;
}
.b_Item2 .b_Item2_text2
{
	font-size: 5px
}
.b_Item3
{
	width: 100px;
	justify-content: space-between;
	
}
.b_Item3 img
{
	width: 20px;
	height: 20px;
}
.b_Right_Item h3
{
	border-left: 8px solid gray;
	padding-left: 9px;
}

.b_Right_Item li
{
	list-style-type: none;
	font-size: 12px;
}

.b_Add_Info
{
	width: 220px;
	color: green;
	font-size: 12px;
}