@charset "UTF-8";

*{
   margin: 0;
   padding: 0;
}

.visitwrap{
   width: 500px;   
   margin : 0 auto;
   
}
.visit_Top{
   display: flex;
   margin: 30px 0px;
}

.visit_Inputs input{   /* 상위선택자명 하위선택자명 */
   width: 100px;
   padding: 5px;
   border: 1px solid #e8e8e8;
}
textarea{
   width: 100%;
   padding: 5px;
   border: 1px solid #e8e8e8;
   resize: none;   /* textarea 사이즈 변경 불가 */
   margin-left: 50px;
}
.visit_Top button{
   width: 80px;
   background-color: black;
   color: white;   /* 글꼴 색 */
   border: none;
}


/* --------------------------------------- */
/* 출력구역 */
.visit_bottom{
   margin: 30px 0px;
}
.visitbox{
   display: flex;
   border-top: 1px solid #e8e8e8;
   padding-top: 10px;
   margin-top: 20px;
}
/* 작성일 표시구역 */
.visitdate{
   font-size: 9px;
}

/* 상단 */
.visitbox_top{
   font-size: 20%;
}
/* 내용물 */
.visitbox_center{
   width: 60%;
   margin: 0px 10px;
}
/* 버튼구역 */
.visitbox_bottom{
   width: 20%;
}
/* 버튼구역 버튼 */
.visitbox_botton button{
   width: 100%;
   background-color: black;
   color: white;
   border: none;
}










