@charset "UTF-8";

*{
	font-family:  "궁서"; /* 폰트 */
	color: blue;
	
}

.title{
	font-size: 20px;
	font-style: italic; /*기울기*/
	font-weight: bold; /*굵기*/
	
	
}

.content{
	font-family: "굴림";
	color: black;
	word-spacing: 20px; /* 어간 */
	letter-spacing: 2px; /* 자간 */
	line-height: 200%;
	
}
.writer{
	text-align: center;
	text-decoration: underline;
	text-shadow:  1px 1px 5px orange;
	
	color: red;
}