@charset "UTF-8";

/*
	*{}
	태그명{}
	.class{}
	#id{}
	우선순위 id>class>태그>*
	복수선택 , 구분
	하위선택 띄어쓰기 구분
*/
.fee_table,.fee_table th,.fee_table td
{
	border: solid 2px black;
}
.fee_table
{
	border-collapse: collapse;
}
.fee_table th
{
	padding: 10px 20px;
	background-color: #eeeeee;
}
.fee_table td
{
	padding: 10px;
	text-align: center;
}
.fee_table .col1{width: 50px;}
.fee_table .col2, .fee_table col3{width: 100px;}
.fee_table .col4{ width: 200px;}

.login_table
{
	width: 300px;
	margin: 30px;
	
}
.login_table .id , .login_table .pwd
{
	width: 200px; height: 30px;
	font-size: 10px;
}
.login_table .btn
{
	width: 100px;
	height: 70px;
	background-color: black;
	color: white;
	border:none; 
	
}
	