@charset "UTF-8";

#warp
{
	width:  1200px;
	margin : 0 auto;
}


#header
{
	background-color: skyblue;
	height: 200px;
}
#content
{

	display: flex;
	height: 600px
}
#footer
{
	background-color: black;
	color : white;
	height: 200px
}
#left_menu
{
	background-color: gray;
	width: 800px;
}
#right_menu
{
	background-color: purple;
	width: 400px;
	
}