@charset "UTF-8";
.container
{
	display: flex;
}
.box
{
	width: 10%;
	height: 50%;
	background-color: orange;
	color: white;
	border :1px solid white;
}
#flexbox{justify-content: flex-start;}
#flexbox2{justify-content: flex-end;}
#flexbox3{justify-content: center;}
#flexbox4{justify-content: space-between;}
#flexbox5{justify-content: space-around;}
#flexbox6{justify-content: space-evenly;}
