@charset "UTF-8";

/* 공통부분 */
*{
   padding: 0px; margin: 0px; font-size: 12px
}
/* a기본값 제거 */
a{
   color: black; text-decoration: none;
}
/* 글머리 */
li{
   list-style-type: none;
}


/* 헤더 */
/* 헤더상단 */

/* li가로 배치하는 방법1 */
.top_menu{
   display: flex;
   justify-content: flex-end;
   align-items:center;
   border-bottom: 1px solid #ababab;
   padding: 10px;
   font-size: 10px;
   position: sticky; 
}
/* li가로 배치하는 방법2 */
/*
.top_menu li{
   display: inline-block;
}*/
.line{
   margin: 0 10px;
}
.top_menu_icon{
   width: 20px;
   vertical-align: middle;
   /* 블록 내 세로정렬 */
}


/*----------메인메뉴------------*/
.main_menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
  
   position: sticky;
   /* 스크롤 내릴 경우 고정 */
   top: 0px;
   /* 상단위에 고정 */
   z-index: 1;
   /* 겹쳤을때 */
   background-color: white;
   opacity: 0.8;
   /* 요소 투명도 1:100%(투명도 없음), 0.5:50% */
}
.main_menu ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
   padding: 30px;
   width: 65%;
}
*:focus{
   outline: none;
   /* 커서(포커스) 활성화 되었을 때 테두리 */
}
.searchbox{
   border-bottom: 1px solid black;   
}
.searchbox img{
   height: 15px;
}
.searchbox input{
   border: none;
   padding: 5px;
}
.new{
   color: red;
}
.logo{
   width: 150px;
}


/*드랍메뉴*/
.drop_menu{
   position: relative;
}
.drop_menu .sub_menu{
   position: absolute;
   left: -40px;   top: 15px;
   
   display: none;
   /* 드랍메뉴 작업 완료 후에 숨겨야함 */
   width: 120px;
   background-color: white;
   
   padding: 25px 0px 20px 0px;
   text-align: center;
}
.sub_menu li{
   margin-bottom: 5px;
}

.drop_menu:hover .sub_menu{
   display: block;
   /* 드랍메뉴 숨겼던 것을 보이게 함 */
}





#main_img{
   width: 100%
}


#content{
   width: 1600px;
   margin: 0 auto;
}
#content .title{
   font-size: 17px;
   text-align: center;
   font-weight: bold;
}
#content .comment{
   font-size: 12px;
   text-align: center;
   color: #999999;
   margin: 20px 0px;
}

.items{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
/* -------------제품 1개------------- */

.item{
   width: 380px;
   margin: 30px 0px;
}
.item img{
   width: 100%;
   /* 부모요소 사이즈에서 100% */
}
/* 칼라 요소 구역 */
.color span{
   /* span 요소의 
   display:inline= w, h 사용불가 */
   display: inline-block;
   width: 10px; height: 10px;
   border: 1px solid #DBDBDB;
}
.color_review{
   display: flex;
   justify-content: space-between;
}
.review{
   color: #808080;
}

/* 제품명, 사이즈 */
.item_name{
   margin: 5px 0px 10px 0px;
}
.item_name .size{
   font-size: 11px;
   color: #595959;
}
/* 가격 */
.item_price{
   position: relative;
}
.item_price .discount{
   position: absolute;
   right: 0px; top: 0px;
   font-size: 14px; color: red; font-weight: bold;
}
.price{
   text-decoration: line-through;
   /* 취소선 */
   color: #8e8d8d;
   
}
/* 아이콘 */
.item_icon img{
   width: 40px;
}

/* ----------------푸터---------------- */

#footer{
   
}
.top_ft{
   background-color: #f7f7f7;
}
.content_ft{
   width: 1400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 50px;
}
.content_ft h3{
   margin: 10px 0px;
   font-size: 16px;
}

.bottom_ft
{
	margin-top: 30px;
	text-align: center;
}

#popup_wrap
{
	position: fixed;
	top:30%;
	right: 0px;
}
#popup_wrap ul
{
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}
#popup_wrap li
{
	width: 40px;
	height: 40px;
	background-color: #f7f7f7;
	text-align: center;
	border: 1px solid #dbdbdb;
}
#popup_wrap img
{
	height: 30px;
}
.pop_item
{
	position: relative;
}
.pop_item .sub_item{
	position: absolute;
	display: none;
	top:0px;right:50px;
	width: 80px;height: 30px;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

.pop_item:hover .sub_item
{
	display: block;
}