@charset "UTF-8";
*{margin: 0px;padding: 0px;}
li{ list-style: none;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header
{
	width: 700px;
	margin: 0 auto;
}
.headerContent
{
	display: flex;
	justify-content: space-between;
}
.headerContentRight
{
	padding-top : 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.accountmenu
{
	font-size: 5px;
	text-align: right;
}
 .headerContentRight .menu ul
 {
 	display: flex;
 	width : 300px;
 	justify-content: space-between; 
 }
 
 
 .mlogo
 {
 	width: 1200px;
 	margin : 0 auto;
 	display: flex; 
 	justify-content: center;
 	margin-bottom: 30px;
 }
 
 
 
 .MainContent
 {
 	width : 700px;
 	margin : 0 auto;
 	display: flex;
 	justify-content:space-between; 
 }
.SideContent2 
 {
 	border-top: solid 1px black;
 }
 .SideContent1 a
 {
 	font-size: 7px;
 	padding: 5px;
 	margin-bottom: 10px;
 }
 .SideContent1 h3
 {
 	color: white;
 	padding : 5px;
 	background: #0CA9A3;
 	margin-bottom: 10px;
 }
 
 .SideSearch
 {
 	width : 100%;
 	margin: 0 auto;
 	display: flex;
 	padding : 10px 0px;
	justify-content: center;
 }
.SideSearch .SearchText
{
	width: 80px;
	margin-right: 5px;
}
 .MainSide
 {
 	width: 200px;
 	display: flex;
 	flex-direction: column;
 }
 
 .SideContent2 h3
 {
 	font-size: 15px;
 	padding: 10px 10px;
 	border-bottom: dotted 1px gray;

 }
.SideContent2 ul
{
	padding: 10px 10px;
	font-size: 7px;
	
}
.SideContent2 li
{
	padding: 5px 0px;
}
.MainCenter
{
	width: 200px;
	padding: 0px 20px;
}
.MainCenter h3
{
	border-bottom: solid 1px black;
	text-align: left;
}

.MainCenter ul li 
{
	 font-size: 7px;
	 padding: 2px 0px;
	 display: flex;
	 justify-content: space-between;
}
.MainCenter ul  
{
	 margin-bottom: 30px;
}

.MainRight
{
	width: 240px;
}
.MainRight h3
{
	border-bottom: solid 1px black;
	text-align: left;
}
.MainRight img
{
	width: 100px;
}
.MainRight ul li
{
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}
.MainRight ul
{
	display: flex;
    flex-wrap: wrap;
}
.MainRight ul li span
{
	font-size: 5px;
}
.footer
{
	background-color: #05354E;
	color: white;
	margin-top: 170px;
	height: 150px;
}
.FooterContent
{
	margin: 0 auto;
	width: 	700px;
	display: flex;
	flex-direction: column;
}
.FootBottom
{
	width : 80%;
	display: flex;
	justify-content: space-between;
}
.Footmenu
{
	display: flex;
	justify-content: space-between;
	width: 50%;
	font-size: 13px;
	padding: 13px 0px;
}
.FooterContent ul li h3
{
	font-size: 15px;
	padding-bottom: 5px;
}
.FooterContent ul li
{
	font-size: 10px;
	padding: 0px 3px;
	
}

*{margin: 0px;padding: 0px;}
li{ list-style: none;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header
{
	width: 700px;
	margin: 0 auto;
}
.headerContent
{
	display: flex;
	justify-content: space-between;
}
.headerContentRight
{
	padding-top : 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.accountmenu
{
	font-size: 5px;
	text-align: right;
}
 .headerContentRight .menu ul
 {
 	display: flex;
 	width : 300px;
 	justify-content: space-between; 
 }
 
 
 .mlogo
 {
 	width: 1200px;
 	margin : 0 auto;
 	display: flex; 
 	justify-content: center;
 	margin-bottom: 30px;
 }
 
 
 
 .MainContent
 {
 	width : 700px;
 	margin : 0 auto;
 	display: flex;
 	justify-content:space-between; 
 }
.SideContent2 
 {
 	border-top: solid 1px black;
 }
 .SideContent1 a
 {
 	font-size: 7px;
 	padding: 5px;
 	margin-bottom: 10px;
 }
 .SideContent1 h3
 {
 	color: white;
 	padding : 5px;
 	background: #0CA9A3;
 	margin-bottom: 10px;
 }
 
 .SideSearch
 {
 	width : 100%;
 	margin: 0 auto;
 	display: flex;
 	padding : 10px 0px;
	justify-content: center;
 }
.SideSearch .SearchText
{
	width: 80px;
	margin-right: 5px;
}
 .MainSide
 {
 	width: 200px;
 	display: flex;
 	flex-direction: column;
 }
 
 .SideContent2 h3
 {
 	font-size: 15px;
 	padding: 10px 10px;
 	border-bottom: dotted 1px gray;

 }
.SideContent2 ul
{
	padding: 10px 10px;
	font-size: 7px;
	
}
.SideContent2 li
{
	padding: 5px 0px;
}
.MainCenter
{
	width: 200px;
	padding: 0px 20px;
}
.MainCenter h3
{
	border-bottom: solid 1px black;
	text-align: left;
}

.MainCenter ul li 
{
	 font-size: 7px;
	 padding: 2px 0px;
	 display: flex;
	 justify-content: space-between;
}
.MainCenter ul  
{
	 margin-bottom: 30px;
}

.MainRight
{
	width: 240px;
}
.MainRight h3
{
	border-bottom: solid 1px black;
	text-align: left;
}
.MainRight img
{
	width: 100px;
}
.MainRight ul li
{
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}
.MainRight ul
{
	display: flex;
    flex-wrap: wrap;
}
.MainRight ul li span
{
	font-size: 5px;
}
.footer
{
	background-color: #05354E;
	color: white;
	margin-top: 170px;
	height: 150px;
}
.FooterContent
{
	margin: 0 auto;
	width: 	700px;
	display: flex;
	flex-direction: column;
}
.FootBottom
{
	width : 80%;
	display: flex;
	justify-content: space-between;
}
.Footmenu
{
	display: flex;
	justify-content: space-between;
	width: 50%;
	font-size: 13px;
	padding: 13px 0px;
}
.FooterContent ul li h3
{
	font-size: 15px;
	padding-bottom: 5px;
}
.FooterContent ul li
{
	font-size: 10px;
	padding: 0px 3px;
	
}
